<head>

<!-- Basic Page Needs -->
<meta charset="utf-8">
<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
<meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines }}{% else %}{{ site.description }}{% endif %}">
<meta name="author" content="{% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}">

<!-- Mobile Specific Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- FONT -->
<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

<!-- CSS -->
<link rel="stylesheet" href="assets/css/all.css">

<!-- Favicon -->
<link rel="icon" type="image/png" href="/images/favicon.png">

<style type="text/css">
small {
    /*background: #EEE;*/
    text-align: center;
    border-radius: 4px;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .1rem;
    padding: 8px 10px;
    float:right;
}
a {text-decoration: none;}
img {
    border: 0;
    max-width: 100%;
}
</style>

</head>
